{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'monitor/style.css' %}" />


<!DOCTYPE html>

<html>
	<head>
		<title>Scraper activity</title>
		<meta http-equiv="refresh" content="60">
		<link rel="Bookmark" href="{% static 'monitor/icon.ico' %}"/>
		<link rel="shortcut icon" href="{% static 'monitor/icon.ico' %}"/>
	</head>
	<body>
		<table align="center">
			<tr>
				<th>Computer</th>
				<th>IP address</th>
				<th>Latest check-in</th>
			</tr>
			<tr>
				<td colspan="2">Current time</td>
				<td>{{current_time}}</td>
			</tr>
		{% for computer in computers %}
			<tr class={% if computer.isAlive %}"alive"{% else %}"dead"{% endif %}">
				<td>{{computer.computer_name}}</td>
				<td>{{computer.ip}}</td>
				<td>{{computer.activity}}</td>
			</tr>
		{% endfor %}
		</table>
	</body>
	
<html>	


